/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("./Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(./Montserrat/static/Montserrat-Black.ttf);
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url(./static/Montserrat-BlackItalic.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(./static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Bol";
  src: url(./static/);
}
@font-face {
  font-family: "Montserrat-medium";
  src: url(./static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-semibold";
  src: url(./static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-li";
  src: url(./static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(./static/Montserrat-Black.ttf);
}
@font-face {
  font-family: "Montserrat-regular";
  src: url(./static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(./static/Montserrat-Black.ttf);
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(./static/Montserrat-Black.ttf);
}
h4 {
  font-size: 18px;
  font-family: "Montserrat-semibold";
}

h5 {
  font-size: 16px;
  font-family: "Montserrat-semibold";
}

h2 {
  font-size: 40px;
  font-family: "Montserrat-semibold";
}

a {
  font-family: "Montserrat-Bold";
  font-size: 14px;
}

p {
  font-family: "Montserrat-medium";
  line-height: 20px;
  font-size: 13px;
}

h1 {
  font-family: "Montserrat-semibold";
  font-size: 55px;
}

ul {
  font-family: "Montserrat-semibold";
  color: #000000;
}

/* header{
    background-color: white;
    a{font-weight: bolder;}

    .btn-dark{
        width: 137px;
        height: 52px;
        background-color:#26335D;
    }
    h6{
        margin-top: 10px;
    }
}
*/
header a {
  color: #26335D;
  font-family: "Montserrat-bold";
  text-decoration: none;
  font-size: 20px;
}
header .header-inner .toggler-menu {
  background: transparent;
  position: absolute;
  right: 10%;
  height: 100%;
  width: 40px;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  margin: 18px -10px 0 0;
}
header .header-inner .hamburger {
  background: #26335D;
  width: 30px;
  height: 5px;
  position: relative;
  right: 5%;
  transition: 0.3s;
  z-index: 2;
  cursor: pointer;
  border-radius: 10px;
}
header .header-inner .hamburger:before,
header .header-inner .hamburger:after {
  background: #26335D;
  width: 30px;
  content: "";
  height: 5px;
  position: absolute;
  transition: 0.3s;
  border-radius: 10px;
}
header .header-inner .hamburger:after {
  top: -10px;
}
header .header-inner .hamburger:before {
  top: 10px;
}
header .header-inner .open {
  background-color: transparent;
}
header .header-inner .open:before {
  top: 0;
  transform: rotate(45deg);
  width: 100%;
}
header .header-inner .open:after {
  top: 0;
  transform: rotate(-45deg);
  width: 100%;
}
header .header-inner .menu {
  overflow: hidden;
  display: none;
  position: absolute;
  max-height: 0;
  background: rgb(252, 252, 252);
  width: 100%;
  top: 6%;
  right: 0;
  line-height: 30px;
  transition: 0.7s;
}
header .header-inner .menu li {
  width: 100%;
}
header .header-inner .menu li a {
  color: #26335d;
  font-family: bold;
  padding: 20px;
  font-size: 20px;
  display: block;
  transition: all 0.7s ease;
}
header .header-inner .menu .buttons button {
  background: #26335d;
  font-size: 20px;
}
header .header-inner .menu.dropped {
  max-height: 800px;
  padding: 5% 0;
}
@media (min-width: 768px) {
  header .header-inner .menu.dropped {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  header .buttons {
    margin-left: 200px;
    gap: 40px;
  }
  header .menu {
    margin-left: 60px;
  }
}
@media (min-width: 768px) {
  header .header-inner {
    gap: 5%;
  }
  header .header-inner .logo {
    font-size: 25px;
  }
  header .header-inner .menu {
    gap: 20%;
    padding: 0;
    top: 10%;
    width: 100%;
    position: relative;
    background: none;
    max-height: unset;
  }
  header .header-inner .menu ul {
    gap: 5%;
  }
  header .header-inner .menu ul li a {
    padding: 0;
    font-size: 14px;
  }
  header .header-inner .menu .buttons {
    padding: 0;
  }
}

.vb {
  padding: 15px 200px;
}

.btn-brand {
  background: #26335D;
  color: white;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/features-11-video-thumb.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero h6 {
  color: aliceblue;
  margin-bottom: 30px;
  font-family: "Montserrat-bold";
}
.hero h1 {
  color: aliceblue;
  margin-bottom: 30px;
  font-weight: 700px;
  font-size: 50px;
  font-family: bolder;
}
.hero h4 {
  color: aliceblue;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: medium;
}
.hero .btn-group {
  gap: 10px;
  height: 40px;
}
.hero .ruvae {
  background-color: #26335D;
  border: none;
}
.hero .text-white {
  margin-top: 10px;
}

.product {
  margin-top: 80px;
}
.product hr {
  color: white;
  margin-top: 145px;
}
.product p {
  margin-bottom: 20px;
}
.product h2 {
  font-family: medium;
}
.product .elsie {
  margin-bottom: 180px;
}
.product .nothing {
  background-color: brown;
  height: 6px;
  width: 90px;
  margin-bottom: 40px;
  margin-top: 100px;
}
.product a {
  text-decoration: none;
  color: #8D5CF6;
}

img:hover {
  cursor: pointer;
}

.prdct {
  margin-top: 100px;
}
.prdct .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #8D5CF4;
  border: none;
  outline: none;
}
.prdct .triangle {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  border-left: 20px solid white;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
.prdct hr {
  margin-top: 195px;
  color: white;
}
.prdct h2 {
  margin-bottom: 40px;
  font-family: medium;
}
.prdct img {
  border-radius: 30px;
}
.prdct .nothing {
  background-color: brown;
  height: 6px;
  width: 90px;
  margin-bottom: 40px;
  margin-top: 160px;
}
.prdct .link {
  margin-top: 10px;
}
.prdct a {
  text-decoration: none;
  color: #8D5CF6;
}

.comments {
  margin-top: 120px;
  margin-bottom: 150px;
}
.comments .star {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  color: gold;
  position: relative;
  margin-bottom: 10px;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(-50%, 50%);
}
.comments h6 {
  font-size: 15px;
  color: #8D5CF6;
  margin-bottom: 30px;
}
.comments .col-md-4 {
  margin-top: 40px;
}
.comments .card-footer {
  padding-left: 80px;
}
.comments h2 {
  font-size: 400px;
  color: white;
  margin-bottom: 70px;
  font-family: bold;
}
.comments p {
  color: white;
  font-size: 16px;
  height: 55px;
  margin-bottom: 20px;
}
.comments .card-footer {
  margin-top: 30px;
}
.comments .card-text {
  color: #531bca;
  text-decoration: none;
}
.comments a {
  text-decoration: none;
}

.ellen .news {
  margin-top: 100px;
}
.ellen .text-purple {
  margin-bottom: 20px;
  color: #8D5CF4;
}
.ellen .text-white {
  margin-bottom: 20px;
}
.ellen .news {
  margin-bottom: 70px;
}
.ellen .line {
  margin-top: 260px;
}
.ellen .btn {
  background-color: #26335D;
  border-color: aliceblue;
  height: 50px;
}
.ellen .input-group {
  height: 50px;
}
.ellen .roza {
  margin-bottom: 90px;
}

.popular .bdy {
  margin-top: 180px;
  margin-bottom: 50px;
}
.popular .chivasa {
  margin-bottom: 190px;
}
.popular .col-md-4 {
  margin-top: 20px;
}
.popular h6 {
  font-size: 15px;
  color: #8D5CF6;
  padding-bottom: 20px;
}
.popular h5 {
  color: black;
  margin-top: 2px;
  font-weight: 500;
}
.popular h2 {
  font-size: larger;
  margin-bottom: 30px;
  font-family: bold;
}
.popular p {
  color: rgb(98, 98, 98);
  font-size: 13px;
  margin-bottom: 8px;
}
.popular .icons-leen {
  position: relative;
  bottom: 50px;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(-50%, -50%);
}
.popular .icon1 {
  border-radius: 100%;
}
.popular .icon2 {
  border-radius: 100%;
}
.popular .icon3 {
  border-radius: 100%;
}
.popular .icons-leen2 {
  background-color: #1a2c5d;
  border-radius: 10px;
  left: 80%;
  width: 50px;
  height: 20px;
  top: 15px;
  text-align: center;
  justify-content: center;
}
.popular .text-light {
  margin-top: 2px;
}
.popular .ruru {
  margin-top: 20px;
  width: 45px;
  height: 20px;
  margin-left: 15px;
}
.popular .line {
  margin-top: 50px;
}
.popular .icn {
  margin-left: 30px;
}
.popular .lee {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 141px;
  height: 40px;
  border: 1px solid #8D5CF6;
  border-radius: 37px;
}
.popular .lee h6 {
  width: 82px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8D5CF6;
}
.popular .text-purple {
  margin-bottom: 15px;
}

.bar {
  background-color: aliceblue;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar h5 {
  text-align: center;
  margin-top: 20px;
}
.bar .n {
  color: #531bca;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 15px;
}
.bar .made {
  color: #737373;
}

.fay .ruvae {
  margin-top: 90px;
  margin-bottom: 70px;
}
.fay .line {
  margin-top: 130px;
}
.fay .card-title {
  font-size: small;
}
.fay .card-text {
  font-size: smaller;
  color: dimgrey;
}

footer a {
  text-decoration: none;
}
footer .andie {
  justify-content: center;
  right: 60%;
}
footer .lilly {
  margin-top: 60px;
}
footer .nesu {
  margin-bottom: 30px;
}

.below .bg-white {
  height: 100px;
}
.below a {
  color: #531bca;
}
.below .zuva {
  float: right;
  margin-right: 90px;
  margin-top: 20px;
}
.below p {
  margin-top: 50px;
  color: rgb(94, 92, 92);
}

.faq .dog {
  border-radius: 6px;
}
.faq .lee {
  color: #531bca;
}
.faq h2 {
  margin-bottom: 30px;
}
.faq .tex {
  margin-left: 40px;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  margin-top: -20px;
  line-height: 25px;
}
.faq .te {
  margin-left: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
}
.faq .text-center {
  margin-top: 120px;
}/*# sourceMappingURL=style.css.map */