
@font-face {
    font-family: 'Montserrat-Black';
    src: url(./Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url(./static/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
src: url(./css/Montserrat/static/);
}

@font-face {
    font-family: 'Montserrat-Bol';
    src: url(./css/Montserrat/static/);
}

@font-face {
    font-family: 'Montserrat-medium';
    src: url(./css/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-semibold';
    src: url(./css/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat-li';
    src: url(./css/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(./css/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url(./css/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(./css/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(./css/Montserrat/static/Montserrat-Black.ttf);
}